<%- include('includes/header') %>
<div class="container py-md-5 container--narrow">
    <h2><img class="avatar-small" src="<%= profileAvatar %>"> <%= profileUsername%> Accounts
        
    </h2>

    

 <div class="list-group">
     <% account.forEach(function(account){ %>
         <a href="/create/<%= account._id %>" class="list-group-item list-group-item-action">
             <img class="avatar-tiny" src="<%= account.author.avatar %>">
             <strong><%= account.title %></strong> Account
         </a>
    <% }) %>
 </div>
 </div>
 <%- include('includes/footer') %>
